// resource.rc
#include <windows.h>
#include "resource.h"

// 设定代码页为 UTF-8
#pragma code_page(65001)

IDD_MAINDIALOG DIALOGEX 0, 0, 200, 100
STYLE DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DialogBox Window"
FONT 9, "Microsoft YaHei"
BEGIN
    // 注意这里改成了 IDC_TXT_MSG，方便我们在代码里修改文字
    CTEXT           "Default Dialog Text", IDC_TXT_MSG, 10, 25, 180, 20
    PUSHBUTTON      "OK(&O)", IDC_BTN_OK, 75, 65, 50, 15
END
